/* PC,スマホ共通スタイル */

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.hutoji {
  font-weight: 600;
}

h1 {
  font-size: 34px;
}

p {
  font-size: 18px;
}


/* =======
pc用style
========== */
@media screen and (min-width: 768px) {
 /* nav */
 nav {   
   display: flex;
   margin: 0 auto;
   height: 60px;
   width: 10px;
  }
 /* 見出し */
 #midasi {
  font-size: 34px;
  border: solid 1px #000;
  padding: 10px;
 }
 /* about */
 #pabout {
  font-size: 34px;
 }
 
 #pworks {
  font-size: 34px;
 }

}
/* =========
携帯用style
============ */
@media screen and(max-width: 767px) {
  
}